.catalog__wrapper {
  max-width: 1150px;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 0;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  @include no-list-style();
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $screen-md) {
  .catalog__wrapper {
    margin-bottom: 51px;
    padding: 81px 50px 0;
  }

  .catalog__item {
    margin-bottom: 52px;
  }

  .catalog__item:last-child {
    margin-bottom: 0;
  }
}
