.catalog__wrapper {
  max-width: 1150px;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 0;
}

.catalog__list {
  display: flex;
  flex-direction: column;

  @include no-list-style();
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $screen-md) {
  .catalog__wrapper {
    margin: 0 auto;
    padding: 92px 50px 0;
  }

  .catalog__item {
    margin-bottom: 52px;
  }

  .catalog__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $screen-xl) {
  .catalog__wrapper {
    margin-bottom: 0;
    padding-top: 146px;
    padding-bottom: 54px;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-bottom: 0;
    margin-right: 4.57%;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
  }

  .catalog__item:nth-child(n+4) {
    margin-top: 50px;
  }
}
