.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.checkbox__label {
  position: relative;
  display: block;
  width: 100%;
  padding: 13px 0 9px 62px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: $gray-0;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    opacity: 1;
    border: 2px solid $gray-68;
    transition: border-color 0.35s $animation-function, opacity 0.35s $animation-function;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;
    box-sizing: border-box;
    width: 21px;
    height: 10px;
    border: 2px solid $gray-0;
    border-right: none;
    border-top: none;
    opacity: 0;
    transform: rotate(-44deg);
    transition: opacity 0.35s $animation-function;
  }
}

.checkbox__input:hover + .checkbox__label::before {
  border-color: $color-main;
}

.checkbox__input:focus + .checkbox__label::before {
  border-color: $color-main;
}

.checkbox__input:active + .checkbox__label::before {
  border-color: $gray-68;
  opacity: 0.3;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__input:active + .checkbox__label::after {
  opacity: 0;
}

.checkbox__input:not(:checked):active + .checkbox__label::after {
  opacity: 1;
}

@media (min-width: $screen-md) {
  .checkbox__label {
    padding: 16px 0 18px 80px;
    font-size: 19px;
    line-height: 1;

    &::before {
      width: 54px;
      height: 52px;
    }

    &::after {
      top: 15px;
      left: 11px;
      width: 32px;
      height: 16px;
    }
  }
}
