.checkbox {
  position: relative;
}

.checkbox__input {
  display: none;
}

.checkbox__indicator {
  position: absolute;
  top: -11px;
  left: -60px;
  display: block;
  width: 36px;
  height: 35px;
  background-color: $gray-255;
  box-shadow: 0 0 0 2px $gray-68;
  transition: $no-hover;
}

.checkbox__input:checked ~ .checkbox__indicator::before {
  @include pseudo-element();
  width: 36px;
  height: 35px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  background-position: 6px 10px;
}

.checkbox:hover .checkbox__indicator {
  box-shadow: 0 0 0 2px $color-main;
  transition: box-shadow $hover-animation $animation-function;
}
.checkbox:active .checkbox__indicator {
  box-shadow: 0 0 0 2px rgba($gray-68, 0.3);
  transition: box-shadow $active-animation $animation-function;
}

.checkbox__text {
  display: block;
  @include font($weight: 700, $size: 17px, $lh: 1.059, $color: $gray-0);
}

@media (min-width: $screen-md) {
  .checkbox__indicator {
    left: -80px;
    width: 50px;
    height: 48px;
    background-color: transparent;
  }

  .checkbox__input:checked ~ .checkbox__indicator::before {
    width: 50px;
    height: 47px;
    background-size: 33px 22px;
    background-position: 9px 14px;
  }

  .checkbox__text {
    @include font($size: 19px, $lh: 1);
  }
}
