.color__item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 260px;
  margin-bottom: 22px;
}

.color__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $screen-md) {
  .color {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .color__item {
    flex-basis: 48%;
    box-sizing: content-box;
    margin-bottom: 22px;
  }

  .color__item:last-child {
    margin-bottom: 22px;
  }
}

@media (min-width: $screen-xl) {
  .color {
    justify-content: flex-start;
  }

  .color__item {
    flex-basis: 31.95%;
  }
}
