.color__item {
  margin-bottom: 22px;
  padding: 10px 0 11px 62px;
}

.color__item:last-child {
  margin-bottom: 0;
}

.color__value {
  cursor: pointer;
}

@media (min-width: $screen-md) {
  .color {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .color__item {
    flex-basis: 48%;
    margin-bottom: 26px;
    padding: 13px 0 18px 82px;
  }

  .color__item:nth-child(5) {
    margin-bottom: 0;
  }
}
