.contacts__wrapper {
  width: auto;
  max-width: 1050px;
}

.contacts__info {
  margin-bottom: 36px;
  padding: 34px 30px 0;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 26px;
  @include font($weight: 700, $size: 25px, $lh: 1.2, $color: $gray-0);
}

.contacts__email {
  display: flex;
  margin-bottom: 30px;
}

.contacts__subtitle-email {
  margin-right: 32px;
}

.contacts__link {
  @include link();
  transition: color $no-hover $animation-function;

  &:hover {
    color: $mail-link-color--hover;
    border-bottom-color: $mail-underlining-color--hover;
    transition: color $hover-animation $animation-function,
                border-bottom-color $hover-animation $animation-function;
  }

  &:active {
    color: $mail-link-color--active;
    border-bottom-color: $mail-underlining-color--active;
    transition: color $active-animation $animation-function,
                border-bottom-color $active-animation $animation-function;
  }
}

.contacts__subtitle-address {
  margin-right: 28px;
}

.contacts__street {
  display: block;
  padding-left: 77px;
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 322px auto;
}

.contacts__wrapper-btn {
  margin-bottom: 36px;
  padding: 0 30px;
}

@media (min-width: $screen-md) {
  .contacts {
    position: relative;

    &::before {
      @include pseudo-element();
      top: 46px;
      right: 53px;
      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__wrapper {
    margin: 0 auto;
    padding-top: 61px;
  }

  .contacts__info {
    margin-bottom: 56px;
    padding: 0 50px;
  }

  .contacts__title {
    margin-bottom: 49px;
    @include font($size: 43px, $lh: 1.163);
  }

  .contacts__inner {
    display: flex;
    align-items: flex-start;
    @include font($size: 17px, $lh: 1.765);
  }

  .contacts__email {
    flex-basis: 280px;
    flex-grow: 1;
    margin-right: 16px;
  }

  .contacts__address {
    flex-basis: 300px;
    flex-grow: 1;
  }

  .contacts__subtitle-email {
    margin-right: 22px;
  }

  .contacts__subtitle-address {
    margin-right: 22px;
  }

  .contacts__map {
    margin-bottom: 54px;
  }

  .contacts__wrapper-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
  }

  .contacts__btn {
    max-width: 230px;
  }
}

@media (min-width: $screen-xl) {
  .contacts::before {
    right: 0;
    left: 213px;
    top: 133px;
  }

  .contacts__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 71px;
    margin-bottom: 25px;
  }

  .contacts__title {
    @include font($size: 53px, $lh: 1.075);
  }

  .contacts__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contacts__info {
    width: 50%;
    margin-bottom: 0;
    padding-top: 70px;
    padding-left: 16.67%;
    padding-right: 4.9%;
    box-sizing: border-box;
  }

  .contacts__email {
    display: flex;
    align-items: flex-start;
    flex-basis: auto;
    margin-right: 0;
  }

  .contacts__subtitle-email {
    min-width: 52px;
  }

  .contacts__wrapper-btn {
    align-items: flex-start;
    margin-top: -132px;
    margin-bottom: 0;
    padding: 0;
    padding-left: 16.67%;
  }

  .contacts__btn {
    width: 230px;
  }

  .contacts__map {
    width: 50%;
    margin-bottom: 0;
    background-color: #f5f5f5;
  }
}
