.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-right: 56px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1;
  text-decoration: none;
  color: $gray-0;

  &:hover {
    color: $gray-0;
    transition: color $hover-animation $animation-function;
  }

  &:active {
    color: rgba($gray-0, 0.3);
    transition: color $active-animation $animation-function;
  }
}

.copyright__text {
  padding-top: 6px;
}

.copyright__icon-developer {
  position: absolute;
  top: 0;
  right: 0;
  fill: $color-main;
  pointer-events: none;
}

.copyright__link:hover .copyright__icon-developer {
  fill: $color-main--darker;
  pointer-events: none;
  transition: fill $hover-animation $animation-function;
}

.copyright__link:active .copyright__icon-developer {
  fill: $color-main--darker;
  opacity: 0.3;
  pointer-events: none;
  transition: fill $hover-animation $animation-function, opacity $hover-animation $animation-function;
}

@media (min-width: $screen-md) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__text {
    margin-left: -3px;
    padding-top: 2px;
  }

  .copyright__icon-developer {
    top: -4px;
  }
}
