.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  position: relative;
  display: flex;
  padding-right: 56px;
  align-items: flex-start;
  @include font($weight: 700, $size: 19px, $lh: 1, $color: $gray-0);
  text-decoration: none;

  &:hover {
    color: $gray-0;
    transition: color $hover-animation $animation-function;
  }

  &:active {
    color: rgba($gray-0, 0.3);
    transition: color $active-animation $animation-function;
  }
}

.copyright__text {
  padding-top: 6px;
}

.copyright svg {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $screen-md) {
  .copyright__text {
    margin-left: -3px;
    padding-top: 2px;
  }

  .copyright svg {
    top: -4px;
  }
}
