.field {
  position: relative;
  padding: 15px;
  padding-left: 0;
  font-size: 17px;
  line-height: 1.059;
  color: rgba($gray-68, 0.3);
  border-radius: 0;
  border: 0;
  outline: none;

  &[disabled] {
    border-bottom-color: $gray-236;
  }

  &[disabled]:hover {
    border-bottom-color: transparent;
  }
}

.field--text {
  border-bottom: 2px solid $gray-0;

  &:hover {
    border-bottom-color: $color-main;
    transition: border-bottom-color $active-animation $animation-function;
  }

  &:focus {
    color: $gray-68;
    border-bottom-color: $color-main;
    transition: color $active-animation $animation-function, border-bottom-color $active-animation $animation-function;
  }
}

.field--text::-webkit-input-placeholder {
  color: rgba($gray-68, 0.3);
}

.field--text:-moz-placeholder {
  color: rgba($gray-68, 0.3);
}

.field--text::-moz-placeholder {
  color: rgba($gray-68, 0.3);
}

.field--text:-ms-input-placeholder {
  color: rgba($gray-68, 0.3);
}

.field--area {
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  padding: 15px;
  border: 2px solid $gray-0;

  &:hover {
    border-color: $color-main;
    transition: border-color $hover-animation $animation-function;
  }

  &:focus {
    color: $gray-68;
    border-color: $color-main;
    transition: color $active-animation $animation-function, border-color $active-animation $animation-function;
  }
}

.field--full-width {
  width: 100%;
}

@media (min-width: $screen-md) {
  .field {
    padding: 12px 70px 14px 17px;
    font-size: 19px;
    line-height: 1;
  }
}
