.footer {
  flex-shrink: 0;
  background-color: $gray-241;
}

.footer__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 23px 30px 32px;
}

.footer__logo {
  display: none;
}

.footer__social {
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
  border-bottom: 1px solid $gray-229;
}

@media (max-width: $screen-md - 1) {
  .footer__copyright {
    margin-top: 21px;
  }
}

@media (min-width: $screen-md) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 34px 50px 53px;
    box-sizing: content-box;
  }

  .footer__logo {
    flex: 0 0 33.33%;
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 17px;
  }

  .footer__logo svg {
    fill: $color-secondary;
  }

  .footer__logo[href="index.html"] {
    opacity: 1;
    transition: opacity $no-hover $animation-function;

    &:hover svg {
      fill: $color-main--darker;
      transition: fill $hover-animation $animation-function;
    }

    &:active svg {
      fill: $color-main--darker;
      opacity: 0.3;
      transition: fill $active-animation $animation-function,
                  opacity $active-animation $animation-function;
    }
  }

  .footer__social {
    flex: 0 0 33.33%;
    justify-content: flex-start;
    margin-top: 22px;
    padding-bottom: 0;
    border: 0;
  }

  .footer__copyright {
    flex: 0 0 33.33%;
    padding-top: 22px;
  }
}

@media (min-width: $screen-xl) {
  .footer__wrapper {
    padding-top: 37px;
    padding-bottom: 54px;
  }

  .footer__logo {
    margin-top: 10px;
  }

  .footer__social {
    justify-content: center;
  }

  .footer__copyright {
    padding-top: 18px;
  }
}
