.form-group__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 0 30px;
}

.form-group__title {
  position: relative;
  display: block;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-main;

  &::before {
    @include pseudo-element();
    top: 50%;
    left: 62px;
    right: 0;
    height: 1px;
    background-color: $color-main;
  }

  &--small-margin {
    margin-bottom: 8px;
  }
}

.form-group__type {
  @include no-list-style();
  margin-bottom: 34px;
}

.form-group__color {
  @include no-list-style();
  margin-bottom: 29px;
}

.form-group__username {
  @include no-list-style();
  margin-bottom: 31px;
}

.form-group__contacts {
  @include no-list-style();
  margin-bottom: 32px;
}

.form-group__note {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.143;
  color: $gray-68;
}

.form-group--message {
  margin-bottom: 15px;
  font-size: 0;
}

.form-group--message .form-group__title {
  margin-bottom: 25px;
}

.form-group--submit {
  margin-bottom: 56px;
}

@media (min-width: $screen-md) {
  .form-group__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 50px;

    &--bottom-indent {
      padding-top: 0;
    }

    &--no-indent {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .form-group__title {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 0;
    padding-top: 15px;

    &::before {
      display: none;
    }

    &--small-margin {
      margin-top: -16px;
    }
  }

  .form-group__type {
    flex-basis: 75%;
    margin-bottom: 3px;
  }

  .form-group__color {
    flex-basis: 75%;
    margin-bottom: 0;
  }

  .form-group__username {
    flex-basis: 75%;
    margin-bottom: 0;
  }

  .form-group__contacts {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .form-group--message {
    margin-bottom: 0;
  }

  .form-group--message .form-group__wrapper {
    padding-bottom: 54px;
  }

  .form-group--message .form-group__title {
    margin-bottom: 0;
  }

  .form-group--message .field {
    flex-basis: 75%;
  }

  .form-group--submit {
    margin-bottom: 49px;
  }

  .form-group--submit .form-group__wrapper {
    align-items: center;
  }

  .form-group--submit .form-group__btn {
    flex-basis: 34.5%;
    order: -1;
  }

  .form-group--submit .form-group__note {
    margin: 0;
    font-size: 17px;
    line-height: 1.765;
  }
}

@media (min-width: $screen-xl) {
  .form-group__title {
    flex-basis: 111px;
    flex-grow: 0;
    box-sizing: content-box;
    padding-left: 14px;
  }

  .form-group__type {
    flex-basis: 87%;
  }

  .form-group__color {
    flex-basis: 87%;
  }

  .form-group__username {
    flex-basis: 87%;
  }

  .form-group__contacts {
    flex-basis: 86.8%;
  }

  .form-group__contacts .form-group__title {
    margin-top: -7px;
    padding-top: 2px;
  }

  .form-group--message .form-group__wrapper {
    padding-right: 175px;
    padding-bottom: 50px;
  }

  .form-group--message .field {
    flex-basis: 85%;
  }

  .form-group--submit {
    margin-bottom: 49px;
  }

  .form-group--submit .form-group__wrapper {
    padding-left: 175px;
    padding-right: 175px;
  }

  .form-group--submit .form-group__btn {
    order: -1;
    flex-basis: 230px;
  }
}
