.form__title {
  font-size: 0;
  line-height: 0;
}

.form__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 23px 30px;
}

.form__intro {
  margin: 0;
  font-size: 13px;
  line-height: 1.86;
  color: $gray-68;
}

.form__group {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (min-width: $screen-md) {
  .form__wrapper {
    margin: 0 auto 32px;
    padding: 85px 50px 28px;
  }

  .form__intro {
    font-size: 17px;
    line-height: 1.765;
  }

  .form__group {
    background-color: $gray-255;

    &--bg-gray {
      background-color: $gray-241;
    }
  }
}

@media (min-width: $screen-xl) {
  .form__wrapper {
    padding-top: 139px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
