.header  {
  flex-shrink: 0;
}

.header__wrapper {
  display: flex;
  width: auto;
  max-width: 1050px;
  padding: 22px 0;
  padding-right: 17px;
}

.header__logo {
  display: flex;
  flex-grow: 1;
}

.header__logo img {
  margin-left: 46.5%;
}

.header__logo[href="index.html"] {
  opacity: 1;
  transition: opacity $no-hover $animation-function;

  &:hover img {
    opacity: 0.6;
    transition: opacity $hover-animation $animation-function;
  }

  &:active img {
    opacity: 0.3;
    transition: opacity $active-animation $animation-function;
  }
}

.header__wrapper--no-js {
  flex-direction: column;
  padding: 22px 0 0;
}

.header__wrapper--no-js .header__logo {
  display: block;
  margin: 0 auto;
}

.header__wrapper--no-js img:first-of-type {
  margin-left: 0;
}

@media (min-width: $screen-md) {
  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    @include centering();
    padding: 0 6.51%;
  }

  .header .header__logo {
    flex-basis: 16.62%;
    margin: 0;
    margin-top: 23px;
  }

  .header__logo img {
    margin-left: 0;
  }
}
