@media (max-width: $screen-md - 1) {
  .main-nav {
    position: relative;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    padding: 22px 0 0;
  }

  .main-nav__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }

  .main-nav__toggle {
    position: absolute;
    top: 27px;
    right: 29px;
  }

  .main-nav--closed .menu {
    display: none;
  }

  .main-nav--closed .user-menu {
    display: none;
  }

  .main-nav--no-js .toggle {
    display: none;
  }

  .main-nav--no-js .menu {
    position: static;
    bottom: 0;
    display: block;
  }

  .main-nav--no-js .user-menu {
    position: static;
    bottom: 0;
    display: block;
  }
}

@media (min-width: $screen-md) {
  .main-nav {
    position: relative;
    z-index: 500;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
  }

  .main-nav__logo {
    width: 113px;
    height: 46px;
    margin-right: auto;
    margin-top: 22px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__user-menu {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% - 113px);
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .main-nav__menu {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    order: 2;
  }
}

@media (min-width: $screen-xl) {
  .main-nav {
    align-items: flex-start;
  }

  .main-nav__menu {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    justify-content: flex-start;
    order: 1;
  }

  .main-nav__logo {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 149px;
    height: 72px;
    margin: 0;
  }

  .main-nav__user-menu {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    justify-content: flex-end;
    order: 2;
    margin-bottom: 0;
  }
}
