.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .main-nav__wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 500;
    display: flex;
    flex-wrap: wrap;
    background-color: $gray-255;
  }

  .main-nav--closed {
    .menu__list {
      display: none;
    }
  }

  .main-nav--no-js {
    .toggle {
      display: none;
    }

    .main-nav__wrapper {
      position: static;
      padding-top: 22px;
    }

    .menu__list {
      display: flex;
    }

    .menu__item:first-child {
      border-top: 1px solid $gray-236;
    }

    .menu__item:nth-child(n+3) {
      display: flex;
    }

    .user-menu__item {
      display: flex;
    }

    .user-menu__item:last-child {
      border: 0;
    }
  }
}
