.menu__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412;
  text-decoration: none;
  color: $gray-0;
  transition: color $no-hover $animation-function;
  user-select: none;

  &:not(.menu__link--current):hover {
    color: $link-color--hover;
    transition: color $hover-animation $animation-function;
  }

  &:not(.menu__link--current):active {
    color: $link-color--active;
    transition: color $active-animation $animation-function;
  }
}

@media (max-width: $screen-md - 1) {
  .menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -159px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include no-list-style();
  }

  .menu__item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: $gray-255;
    border-bottom: 1px solid $gray-236;
  }

  .menu__item:first-child {
    border-top: 1px solid $gray-236;
  }

  .menu__item:nth-child(n+3) {
    border: 0;
  }

  .menu__item:nth-child(n+3) .menu__link {
    display: none;
  }

  .menu__link {
    flex-grow: 1;
    padding: 27px 27px 27px 75px;
    text-align: left;
  }
}

@media (min-width: $screen-md) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include no-list-style();
  }

  .menu__item {
    margin-right: 36px;
  }

  .menu__item:nth-child(n+3) {
    display: none;
  }

  .menu__link {
    padding: 20px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    text-decoration: none;
    color: $gray-0;
  }
}

@media (min-width: $screen-xl) {
  .menu__item:nth-child(n+3) {
    display: block;
  }

  .menu__item:nth-child(-n+2) {
    display: flex;
    margin-right: 0;
  }

  .menu__item:nth-child(3) {
    margin-right: 62px;
  }

  .menu__link {
    padding-top: 32px;
    padding-bottom: 34px;
    font-size: 17px;
    line-height: 1.412;

    &--small-text {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 15px;
      line-height: 1.6;
    }
  }

  .menu__item:first-child .menu__link {
    position: relative;
    margin-bottom: 13px;
    padding-right: 36px;
  }

  .menu__item:nth-child(2) .menu__link {
    margin-bottom: 13px;
    padding-left: 35px;
  }

  .menu__item:nth-child(n+3) .menu__link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu__item:first-child .menu__link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 1px;
    background-color: $gray-236;
  }
}
