.mini-cart {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412;
  text-decoration: none;
  color: $gray-0;
}

.mini-cart__icon {
  fill: $icon-color;
}

@media (max-width: $screen-md - 1) {
  .mini-cart__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

@media (min-width: $screen-md) {
  .mini-cart {
    display: flex;
    flex-basis: 233px;
    flex-wrap: wrap;
  }

  .mini-cart__icon {
    position: relative;
    top: 3px;
    width: 21px;
    height: 18px;
  }

  .mini-cart__title {
    margin-right: 5px;
    padding-left: 30px;
  }
}
