.mini-cart {
  @include font($weight: 700, $size: 17px, $lh: 1.412, $color: $gray-0);
  text-decoration: none;
}

@media (max-width: $screen-md - 1) {
  .mini-cart__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

@media (min-width: $screen-md) {
  .mini-cart {
    display: flex;
    flex-basis: 233px;
    flex-wrap: wrap;
  }

  .mini-cart__icon {
    position: relative;
    top: 3px;
    width: 21px;
    height: 18px;
  }

  .mini-cart__title {
    margin-right: 5px;
    padding-left: 30px;
  }
}
