.modal__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  display: none;
  width: 100%;
  padding: 30px 30px 45px;
  background-color: $gray-255;
  border: 1px solid $gray-199;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 50px;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.modal__label {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 2;
  color: $gray-68;
}

.modal__sizes {
  margin-bottom: 32px;
}

.modal__btn {
  width: 100%;
  color: $gray-255;
  background-color: $color-main;
  border-color: $color-main;
  transition: color $hover-animation $animation-function, background-color $hover-animation $animation-function, border-color $hover-animation $animation-function;

  &:hover {
    color: $color-main;
    background-color: $gray-255;
    border-color: $color-main;
    transition: background-color $hover-animation $animation-function, border-color $hover-animation $animation-function;
  }

  &:active {
    color: rgba($color-main, 0.5);
    background-color: $gray-255;
    border-color: $color-main--lighten;
    transition: color $active-animation $animation-function, background-color $active-animation $animation-function, border-color $active-animation $animation-function;
  }
}

.modal--visible .modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal--visible .modal__background {
  display: block;
}

@media (min-width: 480px) and (max-width: $screen-md) {
  .modal__wrapper {
    width: auto;
    padding: 30px 80px;
  }

  .modal__btn {
    width: 100%;
  }
}

@media (min-width: $screen-md) {
  .modal__wrapper {
    width: auto;
    min-width: 570px;
    padding: 46px 107px;
    box-sizing: border-box;
  }

  .modal__title {
    margin-top: 0;
    margin-bottom: 27px;
    padding: 0;
    font-size: 30px;
    line-height: 1;
  }

  .modal__label {
    margin-bottom: 21px;
    font-size: 17px;
    line-height: 1.765;
  }

  .modal__btn {
    width: 100%;
  }
}
