.page  {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  font-family: $font-stack;
  color: $text-color;
  background-color: $body-bg;
}

.page__wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 100%;
}

