.parametrs {
  width: 100%;
  font-size: 15px;
  line-height: 2.667;
  color: $gray-68;
  border-collapse: collapse;
}

.parametrs__item {
  border-bottom: 1px solid $gray-236;
}

.parametrs__field {
  width: 38.46%;
}

@media (min-width: $screen-md) {
  .parametrs__field {
    width: 33.37%;
  }
}
