.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price__wrapper {
  margin-bottom: 26px;

  @include font($weight: 700, $size: 17px, $lh: 1.412, $color: $gray-68);
}

.price--row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;

  @include font($weight: 700, $size: 15px, $lh: 1.6, $color: $gray-0);
}

.price--row .price__field {
  @include font($size: 0, $lh: 0);
}

.price--row .price__value {
  margin-right: 3px;
}

@media (min-width: $screen-md) {
  .price__wrapper {
    margin-bottom: 33px;

    @include font($size: 20px, $lh: 1.2);
  }

  .price--row .price__value {
    @include font($size: 17px, $lh: 1.412);
  }

  .price--row .price__currency {
    @include font($size: 17px, $lh: 1.412);
  }
}
