.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price__wrapper {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412;
  color: $gray-68;
}

.price--row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  color: $gray-0;
}

.price--row .price__field {
  font-size: 0;
  line-height: 0;
}

.price--row .price__value {
  margin-right: 3px;
}

@media (min-width: $screen-md) {
  .price__wrapper {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 1.2;
  }

  .price--row .price__value {
    font-size: 17px;
    line-height: 1.412;
  }

  .price--row .price__currency {
    font-size: 17px;
    line-height: 1.412;
  }
}
