.product-of-week {
  position: relative;
}

.product-of-week__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 27px 30px 41px;
}

.product-of-week__title {
  margin-bottom: 23px;
}

@media (min-width: $screen-md) {
  .product-of-week__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 47px 50px 68px;
    box-sizing: content-box;
  }

  .product-of-week__title {
    width: 100%;
    margin-bottom: 57px;
  }
}

@media (min-width: $screen-xl) {
  .product-of-week__wrapper {
    padding-bottom: 97px;
  }

  .product-of-week__title {
    position: relative;
    top: 80px;
    left: 47px;
    z-index: 50;
  }
}
