.product-of-week {
  position: relative;

  &::after {
    @include pseudo-element();
    bottom: 0;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat-x: repeat;
    background-size: 320px 7px;
    background-position: 8px 0;
  }
}

.product-of-week__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 27px 30px 41px;
}

.product-of-week__title {
  margin-bottom: 23px;
}

@media (min-width: $screen-md) {
  .product-of-week::after {
    bottom: 0;
    height: 17px;
    background-size: 768px 17px;
    background-position: 20px 0;
  }

  .product-of-week__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 47px 50px 68px;
    box-sizing: content-box;
  }

  .product-of-week__title {
    width: 100%;
    margin-bottom: 57px;
  }
}

@media (min-width: $screen-xl) {
  .product-of-week::after {
    left: 0;
    right: 0;
    width: auto;
    max-width: 1050px;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    background-size: 1150px 23px;
    background-position: 15px 0;
  }

  .product-of-week__wrapper {
    padding-bottom: 97px;
  }

  .product-of-week__title {
    position: relative;
    top: 80px;
    left: 47px;
    z-index: 50;
  }
}
