.production {
  position: relative;
  background-color: #f9f9f9;
}

.production__wrapper {
  width: auto;
  max-width: 1050px;
}

.production__list {
  display: flex;
  flex-direction: column;
  @include no-list-style();
}

.production__item {
  position: relative;
}

.production__item-title {
  margin: 0;
  @include font($weight: 700, $size: 19px, $lh: 1.263, $color: $gray-255);
}

.production__link {
  position: relative;
  display: flex;
  padding: 26px 105px 31px 29px;
  text-decoration: none;
  background-color: $color-main;
  transform: translateY(0);
  transition: transform $no-hover $animation-function;
  user-select: none;

  &:hover {
    background-color: $catalog-link-color--hover;
    transition: transform $hover-animation $animation-function;
  }

  &:active {
    background-color: $catalog-link-color--active;
    transition: background-color $active-animation $animation-function;
  }

  &:hover::before {
    opacity: 0.7;
    transition: opacity $hover-animation $animation-function;
  }

  &:active::before {
    opacity: 0.3;
    transition: opacity $active-animation $animation-function;
  }
}

.production__link--dark {
  background-color: $catalog-link-color-dark;

  &:hover {
    background-color: $catalog-link-color-dark--hover;
    transition: background-color $hover-animation $animation-function;
  }

  &:active {
    background-color: $catalog-link-color-dark--active;
    transition: background-color $active-animation $animation-function;
  }
}

.production__link--interior::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  opacity: 0.5;
}

.production__link--toy::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg");
  opacity: 0.5;
}

.production__link:active .production__item-title {
  color: rgba($gray-255, 0.3);
  transition: color $active-animation $animation-function;
}

@media (min-width: $screen-md) {
  .production::after {
    @include pseudo-element();
    bottom: -9px;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat-x: repeat;
    background-size: 768px 24px;
  }

  .production__wrapper {
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: content-box;
  }

  .production__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .production__item {
    display: flex;
    flex-basis: 50%;
  }

  .production__link {
    flex-grow: 1;
    padding: 30px 110px 33px 35px;

    &:hover {
      transform: translateY(-5px);
      transition: transform $hover-animation $animation-function;
    }
  }

  .production__item-title {
    margin-top: -2px;
    @include font($size: 20px, $lh: 1.5)
  }

  .production__link--interior::before {
    top: 30px;
  }

  .production__link--toy::before {
    top: 32px;
    right: 34px;
  }
}

@media (min-width: $screen-xl) {
  .production::after {
    bottom: -15px;
    height: 34px;
    background-size: 1150px 34px;
    background-position: -15px 0;
  }

  .production__link {
    padding-right: 130px;
  }
}
