.product-card {
  border: 1px solid $gray-236;
  transition: border $no-hover $animation-function;
  user-select: none;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    transition: border $hover-animation $animation-function,
                box-shadow $hover-animation $animation-function;
  }

  &:active {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    transition: border $active-animation $animation-function,
                box-shadow $active-animation $animation-function;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  padding: 28px;
}

.product-card__link {
  text-decoration: none;
  color: $gray-0;

  &:hover {
    color: rgba($gray-0, 0.6);
    transition: color $hover-animation $animation-function;
  }

  &:active {
    color: rgba($gray-0, 0.6);
    transition: color $active-animation $animation-function;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 4px;
  @include font($weight: 700, $size: 17px, $lh: 1.412);
}

.product-card__info:hover .product-card__title {
  color: rgba($gray-0, 0.6);
  transition: color $hover-animation $animation-function;
}

.product-card__info:active .product-card__title {
  color: rgba($gray-0, 0.3);
  transition: color $active-animation $animation-function;
}

.product-card__info:hover .to-cart__icon {
  fill: $icon-color--hover;
  transition: fill $hover-animation $animation-function;
}

.product-card__info:active .to-cart__icon {
  fill: $icon-color--hover;
  opacity: 0.3;
  transition: fill $active-animation $animation-function,
              opacity $active-animation $animation-function;
}

.product-card__img {
  @include font($size: 0, $lh: 0);
  background-color: $gray-236;
}

.product-card__img img {
  width: 100%;
}

.product-card__property {
  margin-bottom: 19px;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 21px;
  border-top: 1px solid $gray-236;
}

.product-card__to-cart {
  padding-bottom: 4px;
}

@media (min-width: $screen-md) {
  .product-card {
    display: flex;
  }

  .product-card__link--half-width {
    flex-basis: 50%;
  }

  .product-card__img {
    flex-basis: 50%;
  }

  .product-card__info {
    flex-basis: 50%;
    padding-top: 25px;
  }

  .product-card__title {
    padding-right: 35px;
    @include font($size: 20px, $lh: 1.2);
  }

  .product-card__price-wrapper {
    margin-top: auto;
  }

  .product-card__price {
    padding-left: 4px;
  }

  .product-card__to-cart {
    position: relative;
    top: -3px;
    left: -5px;
    padding-bottom: 0;
  }
}

@media (min-width: $screen-xl) {
  .product-card {
    flex-direction: column;
    flex-basis: 30.28%;
  }

  .product-card__img {
    flex-basis: auto;
  }

  .product-card__title {
    padding-right: 25px;
  }

  .product-card__property {
    margin-bottom: 14px;
  }

  .product-card__price-wrapper {
    padding-top: 23px;
    margin-left: -6px;
  }
}
