.production {
  position: relative;
  background-color: #f9f9f9;
}

.production__wrapper {
  width: auto;
  max-width: 1050px;
}

.production__list {
  display: flex;
  flex-direction: column;
  @include no-list-style();
}

.production__item {
  position: relative;
}

.production__item-title {
  margin: 0;
  @include font($weight: 700, $size: 19px, $lh: 1.263, $color: $gray-255);
}

.production__link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 26px 105px 31px 29px;
  text-decoration: none;
  background-color: $color-main;
  transform: translateY(0);
  transition: transform $no-hover $animation-function;
  user-select: none;

  &:hover {
    background-color: $catalog-link-color--hover;
    transition: transform $hover-animation $animation-function;
  }

  &:active {
    color: rgba($gray-255, 0.3);
    background-color: $catalog-link-color--active;
    transition: color $active-animation $animation-function,
                background-color $active-animation $animation-function;
  }

  &--dark {
    background-color: $catalog-link-color-dark;

    &:hover {
      background-color: $catalog-link-color-dark--hover;
      transition: background-color $hover-animation $animation-function;
    }

    &:active {
      color: rgba($gray-255, 0.3);
      background-color: $catalog-link-color-dark--active;
      transition: color $active-animation $animation-function,
                  background-color $active-animation $animation-function;
    }
  }
}

.production__interior-icon {
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  opacity: 0.5;
}

.production__toy-icon {
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
}

@media (min-width: $screen-md) {
  .production__wrapper {
    margin: 0 auto;
    padding: 0 50px;
  }

  .production__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .production__item {
    display: flex;
    flex-basis: 50%;
  }

  .production__link {
    flex-grow: 1;
    padding: 30px 35px 29px;
  }

  .production__item-title {
    margin-top: -2px;
    @include font($size: 20px, $lh: 1.5)
  }

  .production__interior-icon {
    top: 30px;
  }

  .production__toy-icon {
    top: 32px;
    right: 34px;
  }
}
