.product {
  @include no-list-style();
}

.product__item {
  display: flex;
  flex-direction: column;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__description {
  margin: 0;
  margin-bottom: 16px;
  @include font($size: 15px, $lh: 1.6, $color: $gray-68);
}

.product__parametrs {
  margin-bottom: 28px;
}

.product__img {
  margin-bottom: 14px;
  text-align: center;
  background-color: $gray-241;
}

.product__img img {
  width: 100%;
}

@media (min-width: $screen-md) {
  .product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 43.71%;
    margin-right: 6.287%;
  }

  .product__description {
    margin-top: -8px;
    margin-bottom: 35px;
    @include font($size: 17px, $lh: 1.765);
  }

  .product__img {
    width: 50%;
    margin-bottom: 0;
    font-size: 0;
  }

  .product__price {
    width: 43.71%;
    margin-top: -111px;
  }
}

@media (min-width: $screen-xl) {
  .product__info {
    width: 27.81%;
    margin-right: 5.52%;
    margin-left: 16.67%;
    padding-top: 80px;
  }

  .product__description {
    margin-bottom: 46px;
  }

  .product__img {
    margin-top: -87px;
  }

  .product__img img {
    width: 525px;
    height: 636px;
  }

  .product__price {
    width: 27.81%;
    margin-left: 16.67%;
  }
}
