.promo-video__wrapper {
  width: auto;
  max-width: 1150px;
  margin-bottom: 57px;
  padding: 0 30px;
}

.promo-video__inner {
  border: 1px solid $gray-236;
}

.promo-video__title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 21px 32px 24px 88px;
}

.promo-video__title::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 33px;
  display: block;
  width: 32px;
  height: 28px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.promo-video__title h2 {
  margin: 0;
  padding-top: 2px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412;
  word-wrap: break-word;
  color: $gray-0;
}

.promo-video__play {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background-color: $gray-236;
}

.promo-video__play img {
  width: 100%;
}

.promo-video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 0;
  background-color: transparent;
  border: 0;
  transition: $no-hover;
  cursor: pointer;

  &:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
    transition: transform $hover-animation $animation-function;
  }

  &:active {
    fill-opacity: 0.3;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    transition: fill-opacity $active-animation $animation-function, transform $active-animation $animation-function;
  }
}

.promo-video__description {
  padding: 29px 32px 33px;
}

.promo-video__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
  font-size: 13px;
  line-height: 1.9;
  color: $gray-68;
}

@media (min-width: $screen-md) {
  .promo-video__wrapper {
    margin: 0 auto;
    padding: 0 50px;
  }

  .promo-video__inner {
    display: flex;
    flex-direction: column;
  }

  .promo-video__play {
    order: -1;
  }

  .promo-video__title {
    padding-top: 36px;
    padding-left: 105px;
  }

  .promo-video__title h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  .promo-video__title::before {
    top: 33px;
    left: 41px;
  }

  .promo-video__description {
    padding: 8px 38px 44px;
  }

  .promo-video__text {
    margin-bottom: 36px;
    font-size: 15px;
    line-height: 2;
  }
}

@media (min-width: $screen-xl) {
  .promo-video__inner {
    display: block;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .promo-video__play {
    float: left;
    width: 64.95%;
    font-size: 0;
    line-height: 0;
  }

  .promo-video__title {
    float: right;
    box-sizing: border-box;
    width: 35.05%;
    margin-bottom: 32px;
    padding: 96px 54px 0 80px;
  }

  .promo-video__title h2 {
    padding-top: 0;
  }

  .promo-video__title::before {
    top: 42px;
    left: 79px;
  }

  .promo-video__description {
    float: right;
    box-sizing: border-box;
    width: 35.05%;
    padding: 0 54px 59px 80px;
  }

  .promo-video__text {
    margin-bottom: 47px;
    padding-right: 0;
  }
}
