.radio-button {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 260px;
  align-items: center;
}

.radio-button__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.radio-button__indicator {
  flex-shrink: 0;
  display: block;
  width: 34px;
  height: 34px;
  margin-left: 2px;
  margin-right: 30px;
  background-color: $gray-255;
  border: 9px solid $gray-255;
  border-radius: 50%;
  box-shadow: 0 0 0 2px $gray-68;
  transition: background-color $no-hover $animation-function;
}

.radio-button__input:checked ~ .radio-button__indicator {
  background-color: $color-main;
  transition: background-color 0.3s $animation-function;
}

.radio-button__indicator:hover {
  box-shadow: 0 0 0 2px $color-main;
  transition: box-shadow $hover-animation $animation-function;
}

.radio-button__indicator:active {
  background-color: $gray-255;
  box-shadow: 0 0 0 2px rgba($gray-68, 0.3);
  transition: background-color $active-animation $animation-function, box-shadow $active-animation $animation-function;
}

.radio-button__input:checked:active ~ .radio-button__indicator {
  background-color: $gray-255;
  transition: background-color 0.3s $animation-function;
}

.radio-button__text {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: $gray-0;
  user-select: none;
}

@media (min-width: $screen-md) {
  .radio-button__indicator {
    width: 47px;
    height: 47px;
    border-width: 13px;
  }

  .radio-button__text {
    font-size: 19px;
    line-height: 1;
  }
}
