.radio-button {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 260px;
  align-items: center;
}

.radio-button__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.radio-button__label {
  position: relative;
  display: block;
  width: 100%;
  padding: 13px 0 12px 62px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.059;
  color: $gray-0;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    border: 2px solid $gray-68;
    transition: border-color 0.35s $animation-function, opacity 0.35s $animation-function;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: $color-main;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.35s $animation-function;
  }
}

.radio-button__input:hover + .radio-button__label::before {
  border-color: $color-main;
}

.radio-button__input:focus + .radio-button__label::before {
  border-color: $color-main;
}

.radio-button__input:active + .radio-button__label::before {
  border-color: $gray-68;
  opacity: 0.3;
}

.radio-button__input:checked + .radio-button__label::after {
  opacity: 1;
}

.radio-button__input:active + .radio-button__label::after {
  opacity: 0;
}

.radio-button__input:not(:checked):active + .radio-button__label::after {
  opacity: 1;
}

@media (min-width: $screen-md) {
  .radio-button__label {
    padding: 16px 0 18px 80px;
    font-size: 19px;
    line-height: 1;

    &::before {
      top: 0;
      width: 52px;
      height: 52px;
    }

    &::after {
      top: 15px;
      left: 16px;
      width: 21px;
      height: 21px;
    }
  }
}
