.reviews {
  position: relative;
}

.reviews__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 0 30px;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 25px;
  @include font($weight: 700, $size: 25px, $lh: 1.2, $color: $gray-0);
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 29px;
}


.reviews__author-text {
  margin: 0;
  margin-bottom: 26px;
}

.reviews__author-name {
  margin-bottom: 5px;
  font-style: normal;
  @include font($weight: 700, $size: 18px, $lh: 1.333, $color: $gray-0);
}

.reviews__author-twitter {
  @include font($size: 17px, $lh: 1.765, $color: $gray-68);
}

.reviews__nav {
  margin-bottom: 38px;
}

.reviews__write {
  margin-bottom: 51px;
}

@media (min-width: $screen-md) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    min-height: 380px;
    padding: 78px 50px 129px;
  }

  .reviews__slider {
    width: 100%;
  }

  .reviews__item  {
    margin-bottom: 0;
  }

  .reviews__title {
    order: -2;
    margin-bottom: 49px;
    @include font($size: 43px, $lh: 1.163);
  }

  .reviews__author-text {
    margin-bottom: 58px;
    @include font($size: 17px, $lh: 1.765);
  }

  .reviews__author-name {
    padding-right: 200px;
  }

  .reviews__author-twitter {
    padding-right: 200px;
  }

  .reviews__write {
    order:-1;
    max-width: 175px;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-xl) {
  .reviews__wrapper {
    padding: 73px 0 186px 175px;
  }

  .reviews__title {
    margin-bottom: 46px;
    padding-right: 200px;
    @include font($size: 53px, $lh: 1.075);
  }

  .reviews__author-text {
    margin-bottom: 39px;
    padding-right: 80px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    @include font($size: 17px, $lh: 1.412);
  }
}
