.search {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412;
  text-decoration: none;
  color: $gray-0;
}

.search__icon {
  width: 18px;
  height: 19px;
  fill: $icon-color;
}

@media (max-width: $screen-md - 1) {
  .search__icon {
    position: absolute;
    top: 30px;
    left: 32px;
  }
}
