.sizes {
  display: flex;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.sizes__item {
  margin-right: 7px;
  padding: 15px 33px;
  box-sizing: border-box;
  @include font($weight: 700, $size: 17px, $lh: 1, $color: $gray-68);
  text-align: center;
  border: 2px solid $gray-236;
  cursor: pointer;

  &:hover:not(.sizes__item--current) {
    border-color: $gray-199;
    transition: border-color $hover-animation $animation-function;
  }

  &:active:not(.sizes__item--current) {
    border-color: $color-main;
    transition: border-color $active-animation $animation-function;
  }

  &:focus {
    outline: -webkit-focus-ring-color auto 5px  ;
  }

  &--current {
    border-color: $color-main;
  }
}

.sizes__item:last-child {
  margin-right: 0;
}

@media (min-width: $screen-md) {
  .sizes {
    width: 100%;
    justify-content: space-between;
  }

  .sizes__item {
    flex-basis: 32%;
    padding-left: 0;
    padding-right: 0;
  }
}
