.title-product {
  display: flex;
  flex-direction: column;
}

.title-product__subtitle {
  margin: 0;
  margin-bottom: 6px;
  @include font($weight: 700, $size: 25px, $lh: 1.2);
}

.title-product__text {
  order: 2;
  margin: 0;
  @include font($weight: 700, $size: 17px, $lh: 1.176, $color: $color-main);
  text-transform: uppercase;
}

.title-product__text br {
  display: none;
}

@media (min-width: $screen-md) {
  .title-product {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title-product__subtitle {
    flex-grow: 1;
    margin-bottom: 0;
    @include font($size: 43px, $lh: 1.163);
  }

  .title-product__text {
    margin-top: 5px;
    margin-right: 27px;
    line-height: 1;
    text-align: center;
  }

  .title-product br {
    display: block;
  }
}

@media (min-width: $screen-xl) {
  .title-product__subtitle {
    @include font($size: 53px, $lh: 1.075);
  }

  .title-product__text {
    order: -1;
    margin-right: 54px;
  }
}
