.to-cart {
  width: 20px;
  height: 19px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: 0;
}

.to-cart__icon {
  fill: $icon-color;
}

.to-cart:hover .to-cart__icon {
  fill: $icon-color--hover;
  transition: fill $hover-animation $animation-function;
}

.to-cart:active .to-cart__icon {
  fill: $icon-color--hover;
  opacity: 0.3;
  transition: fill $active-animation $animation-function, opacity $active-animation $animation-function;
}
