.type__item {
  margin-bottom: 22px;
}

.type__item:last-child {
  margin-bottom: 0;
}

.type__value {
  cursor: pointer;
}

@media (min-width: $screen-md) {
  .type__item {
    margin-bottom: 28px;
  }
}
