.type__item {
  margin-bottom: 0;
}

.type__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 365px) and (max-width: $screen-md - 1) {
  .type__item {
    margin-bottom: 17px;
  }
}

@media (min-width: $screen-md) {
  .type__item {
    margin-bottom: 23px;
  }
}

