.user-menu__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412;
  text-decoration: none;
  color: $gray-0;
  transition: color $no-hover $animation-function;
  user-select: none;

  &:hover {
    color: $link-color--hover;
    transition: color $hover-animation $animation-function;
  }

  &:active {
    color: $link-color--active;
    transition: color $active-animation $animation-function;
  }
}

.user-menu__link:hover svg {
  fill: $icon-color--hover;
  transition: fill $hover-animation $animation-function;
}

.user-menu__link:active svg {
  fill: $icon-color--active;
  transition: fill $active-animation $animation-function;
}

@media (max-width: $screen-md - 1) {
  .user-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -316px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include no-list-style();
  }

  .user-menu__item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: $gray-255;
    border-bottom: 1px solid $gray-236;
  }

  .user-menu__item:last-child {
    border-bottom: 0;
  }

  .user-menu__link {
    flex-grow: 1;
    padding: 27px 27px 27px 75px;
    text-align: left;
  }
}

@media (min-width: $screen-md) {
  .user-menu {
    display: flex;
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  .user-menu__link {
    padding: 36px 0 33px 35px;
  }

  .user-menu__item--search {
    border-left: 1px solid $gray-236;
    border-right: 1px solid $gray-236;
  }

  .user-menu__item--search .user-menu__link {
    display: flex;
    padding: 36px 32px 33px 32px;
    font-size: 0;
    line-height: 0;
  }

  .user-menu__item--mini-cart .user-menu__link {
    padding: 31px 0 33px 30px;
  }
}
