.user-contacts__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 0 30px;
}

.user-contacts__item {
  margin-bottom: 32px;
}

.user-contacts__item--phone {
  position: relative;
}

.user-contacts__item--phone svg {
  position: absolute;
  top: 34px;
  right: 8px;
  z-index: 100;
}

.user-contacts__item--email {
  position: relative;
}

.user-contacts__item--email svg {
  position: absolute;
  top: 34px;
  right: 4px;
  z-index: 100;
}

@media (min-width: $screen-md) {
  .user-contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .user-contacts__item:last-child {
    margin-bottom: 0;
  }

  .user-contacts__item .field {
    flex-basis: 75%;
    background-color: transparent;
  }

  .user-contacts__item--phone svg {
    top: 13px;
    right: 26px;
  }

  .user-contacts__item--email svg {
    top: 15px;
    right: 22px;
  }
}

@media (min-width: $screen-xl) {
  .user-contacts__item .field {
    flex-basis: 85%;
  }

  .user-contacts__item--phone svg {
    right: 8px;
  }

  .user-contacts__item--email svg {
    right: 4px;
  }
}
