.user-contacts__wrapper {
  width: auto;
  max-width: 1050px;
  padding: 0 30px;
}

.user-contacts__item {
  margin-bottom: 32px;
}

.user-contacts__icon {
  fill: #cccccc;
}

.user-contacts__item--phone {
  position: relative;
}

.user-contacts__item--phone .user-contacts__icon {
  position: absolute;
  top: 35px;
  right: 8px;
  z-index: 100;
}

.user-contacts__item--email {
  position: relative;
}

.user-contacts__item--email .user-contacts__icon {
  position: absolute;
  top: 35px;
  right: 4px;
  z-index: 100;
}

.user-contacts__field:hover ~ .user-contacts__icon,
.user-contacts__field:focus ~ .user-contacts__icon {
  fill: $color-main;
  transition: fill $hover-animation $animation-function;
}

@media (min-width: $screen-md) {
  .user-contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .user-contacts__item:last-child {
    margin-bottom: 0;
  }

  .user-contacts__field {
    flex-basis: 75%;
    background-color: transparent;
  }

  .user-contacts__item--email .user-contacts__icon {
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
  }

  .user-contacts__item--phone .user-contacts__icon {
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
  }
}

@media (min-width: $screen-xl) {
  .user-contacts__field {
    flex-basis: 700px;
  }

  .user-contacts__item--email .user-contacts__icon {
    right: 4px;
  }

  .user-contacts__item--phone .user-contacts__icon {
    right: 8px;
  }
}
