.username {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.username__item {
  margin-bottom: 22px;
}

.username__item:last-child {
  margin-bottom: 0;
}

.username__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.username__text {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.058;
  color: $gray-0;
}

@media (min-width: $screen-md) {
  .username__item {
    margin-bottom: 21px;
  }

  .username__field {
    flex-direction: row;
    align-items: center;
  }

  .username__text {
    margin-right: 24px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 1;
  }

  .username__field .field {
    flex-grow: 1;
  }
}

@media (min-width: $screen-xl) {
  .username {
    padding-right: 125px;
  }
}
